/* Navigation Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
}

/* Target main Logo Image */
.ct-nav img{
    width: 25%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#hoizontal-list{
    min-width: 650px;
    list-style: none;
    padding-top: 20px;
}

ul#hoizontal-list li, ul#hoizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: black;
}

ul#hoizontal-list a:nth-last-child(1){
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 0.1vw;
}

/* End of navbar style */

/* Start of hero/header section */
#header-text{
    padding: 2vw;
}

.header-image{
    width:82%;
    max-width: 100%;
}

/* End of Hero/Header Section */

/* Middle Section START */
#middle-text{
    text-align: center;
    padding: 13vh;
}

#middle-text h2{
    padding: 1.5vw;
}
/* Middle Section END */

/* Features Section START */
#api-image, #graphql, #database-image{
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
}
/* Features Section END */

/* COmmunity Section Styles */
#drone-image{
    width:50%;
    max-width: 75%;
    margin-left: 3vw;
}


.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
}

.hero-section{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(30, 115, 172, 0,7), rgba(142, 57, 153, 0.6), url(../images/drone-profile.jpg));
    background-size: cover;
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color: white;
}