{% extends 'base.html' %}

{% block content %}

<header class="row">
    <div class="col-12 col-md-6" id="header-text">
        <h2>Let's build the future of cars inventory-ing!</h2>
        <h5>Create an amazing API tool for savvy car collectors.</h5>
        <div>
            <button class="btn btn-primary">View Our DropBox</button>
            <button class="btn btn-primary">Join Our AIM</button>
        </div>
    </div>
    <!--Header Image-->
    <div class="col-12 col-md-6">
        <img class="header-image" src="../../static/images/aston_martin_PNG51.png" alt="Hero Header Image">
    </div>
</header>

    <!--End of Header Section-->

    <!-- Start of Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display your collection</h2>
            <p>Harness the horsepower of an API to expand your car collection.</p>
        </div>
    </section>

    <!-- End of Middle section-->

    <!-- Colection of Features Section-->

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <!-- <img src="../../static/images/toyota_logo_PNG1665.png" alt="API image" id="api-image"> -->
            <h4>Dedicated API Routes</h4>
            <p>If you like traditional API routes, we have those for you</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/bentley_PNG66.png" alt="graphql-image" id="graphql">
            <h4>GraphQL API Route</h4>
            <p>If you want data all from one endpoint we have that too.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/honda_PNG10357.png" alt="database-image" id="database-image">
            <h4>Back by PostgreSQL Database</h4>
            <p>All data will persisted inside a secure PostGres Database</p>
        </div>

        <!-- End of Collection features-->
        
        <!-- Community Section, START-->
        <section class="row">
            <div class="col-12 col-md-6">
                <img src="../../static/images/scoda_logo_PNG1664.png" alt="drone-image" id="drone-image">
            </div>

            <div class="col-12 col-md-6">
                <h4>Talk with likeminded car collectors</h4>
                <p>Talk with other devs around the world and collab 
                    on projects with your car data. Join our AIM channel
                    and give a start to the project on Google Hangout.
                </p>

                <div>
                    <button class="btn btn-primary">View on Dropbox</button>
                    <button class="btn btn-primary">Join Our AIM</button>
                </div>
            </div>
        </section>
        
        <!-- Community Section, END-->
        
        
        <!-- Footer, START -->
        <footer class="row" id="footer">
            <div class="col-2 col-md-2">
                <img src="../../static/images/benz_logo_PNG1655.png" alt="Coding Drones Logo" id="footer-logo">
            </div>
            <div class="col-2 col-md-2">
                <div class="foot-text-flex">
                    <h4>Platform</h4>
                    <p>Why Car Collecting?</p>
                    <p>The Car Inventory Project</p>
                    <p>Buy Me Beers</p>
                    <p>Spread the Werd</p>
                    <p>The Process</p>
                    <p>Harness the horsepower</p>
                </div>
            </div>

            <div class="col-2 col-md-2">
                <div class="foot-text-flex">
                    <h4>Platform</h4>
                    <p>Why Car Collecting?</p>
                    <p>The Car Inventory Project</p>
                    <p>Buy Me Beers</p>
                    <p>Spread the Werd</p>
                    <p>The Process</p>
                    <p>Harness the horsepower</p>
                </div>
            </div>

            <div class="col-2 col-md-2">
                <div class="foot-text-flex">
                    <h4>Platform</h4>
                    <p>Why Car Collecting?</p>
                    <p>The Car Inventory Project</p>
                    <p>Buy Me Beers</p>
                    <p>Spread the Werd</p>
                    <p>The Process</p>
                    <p>Harness the horsepower</p>
                </div>
            </div>

        </footer>
    </section>
</div>

{% endblock content %}