{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1>This is the future Car Inventory Page</h1>
    <h3>Car cards go here, but lets try a car table first</h3>
</div>
<h4>Car API Calls</h4>
    <!-- Ranger Data HTML Elements -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <!-- <button class="btn btn-primary mx-3" onclick="loadData()">Get Data</button>
                <button class="btn btn-danger mx-3" onclick="clearData()">Clear Data</button> -->
                <!--  START API content -->
                            <!-- <div class="row ranger-list2"></div> moved ot below --> 
                    <!-- END API Content  -->
                </section>
               

            </div>
        </div>
        <div class="row ranger-list2"></div>
    </div>


{% endblock content %}